/* Стили для основного контейнера */
body {
    font-family: Georgia, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  /* Заголовок калькулятора */
  h1 {
    font-size: 24px;
  }
  
  /* Поле ввода */
  #input {
    width: 99%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: left;
  }
  
  /* Кнопки цифр и операторов */
  button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
  }
  

  button:nth-child(20) {
    background-color: rgb(210, 12, 32);
    color: #fff;
  }

  button:nth-child(21) {
    background-color: #33CC33;
    color: #fff;
  }
  
  /* История операций */
  #history {

    margin-top: 20px;
    font-size: 18px;
    text-align: left;
  }
  